* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
}
section {
  background-color: rgb(18, 26, 31);
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .container {
  width: 90%;
  max-width: 400px;
  background-color: rgb(39, 55, 59);
  border-radius: 8px;
  overflow: hidden;
}
section .container .display {
  background-color: rgb(182, 182, 182);
  height: 100px;
  width: 100%;
  text-align: right;
  padding: 20px;
  font-size: 30px;
  position: relative;
}
section .container .display .display-1 {
  opacity: 0.4;
  font-size: 20px;
  height: 20px;
  overflow: hidden;
}
section .container .display .temp_result {
  position: absolute;
  bottom: 0;
  left: 10;
  font-size: 20px;
  opacity: 0.4;
}
section .container .all_buttons {
  color: whitesmoke;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}
section .container .all_buttons .button {
  border: 0.5px solid rgba(92, 92, 92, 0.137);
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
}
section .container .all_buttons .button:hover {
  background-color: rgb(32, 43, 46);
}
section .container .all_buttons .btn-0 {
  grid-column: 1/3;
}
